<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Ping</nb-card-header>
      <nb-card-body>
        <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <input type="text" name="url" ngModel nbInput fullWidth placeholder="Page or ip address">
          <!--<button type="submit" nbButton status="primary">Ping</button>-->
          <button [disabled]="lockbtn" nbButton type="submit">Start</button>
          <button [disabled]="!lockbtn" nbButton type="button" (click)="stopAction()">Stop</button>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <div class="row">
        <div class="col-md-6">
          <div class="pingSection">
            <div #scrollMe id="box" class="box">
              <ul class="list">
                <li *ngFor="let i of pingResList">
                  {{i}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <nb-card-body>
          </nb-card-body>
        </div>
      </div>
    </nb-card>
  </div>
</div>
