@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-chartjs-pie,
  ngx-chartjs-bar,
  ngx-chartjs-line,
  ngx-chartjs-multiple-xaxis,
  ngx-chartjs-bar-horizontal,
  ngx-chartjs-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
}

.box {
  display: flex;
  align-items: center;

  .icon-container {
    padding: 25px 0;
    text-align: center;
    flex: 1;

    nb-icon {
      font-size: 40px;
    }

  }

  .details {
    flex: 2;
  }
}
